.casilla{

    width:100px;/*ancho de la casilla 100 pixeles*/
    height: 100px;/* alto de la casilla 100 pixeles*/
    font-size: 50px;/*tamaño de la letra 50 pixeles*/
    font-family: cursive;/* estilo de letra cursiva*/
    text-align: center;/*ubicacion de la letra en el centro*/
 
    background-color:beige;/*color de la casilla beige*/
} /* esta seccion le da el estilo a la casilla*/

#tablero{

    margin:0 auto;
    width:25%;/*el ancho del tablero va a ser un 25% del tamaño de la pag.*/
}/*ubicacion del tablero a un margen de 0 es decir al inicio de la pagina y de forma automatica se va a ubicar*/

.boton{

    width:100px;
    height: 100px; 
    font-size: 500px; 
   
    

}/*la propiedad boton va ubicado en las mismas posiciones de la casilla, para darle la propiedad de pulsar y asignar los valores con el codigo javascript.
